.drawer {
    padding: 15px;
    width: 340px;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    transition: all .256s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: -325px;

    @media (max-width: 768px) {
        width: 258px;
        padding: 0;
        border-radius: 0;
        left: -258px;
    }

    &.open {
        left: 0;
    }

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15px;
        right: -37px;
        width: 52px;
        padding: 15px;
        font-size: 22px;
        border-radius: 0 8px 8px 0;
        color: #fff;
        background: #016984;
        border: none;
        border-left: 1px solid rgb(1, 118, 148);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
            top: 0;
            right: -52px;
            padding: 10px;
        }

        svg {
            height: 34px;
        }
    }
}

.bars {
    position: absolute;
    display: block;
    justify-content: space-between;
    width: 18px;
    height: 18px;

    div {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;

        &:nth-child(2) {
            margin: 4px 0;
        }
    }
}