.list {
    margin-top: 5px;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-height: 100%;

    @media (max-width: 768px) {
        max-height: 500px;
        border-radius: 0 8px 8px 0;
    }
}

.item {
    color: #666;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;

    &-icon {
        font-size: 20px;
        padding: 5px 10px 5px 0;
        color: #87adb7;
    }

    &-name {
        text-align: left;
        font-weight: normal;
    }

    &-address {
        text-align: left;
        font-size: 14px;
        color: #444;
    }
    
    &-rate {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        color: #ff6e00;

        svg {
            font-size: 10px;
        }
    }

    &-button {
        padding: 6px 15px;
        display: flex;
        border: none;
        border-radius: 0;
        background: none;
        width: 100%;

        &:hover,
        &:focus,
        &:active     {
            background: #444444;

            .item-name {
                color: #fff;
            }

            .item-address {
                font-size: 14px;
                color: #fff;
            }
        }

        &:active {
            background: #2b2828;
        }

        &_active {
            color: #fff;
            background: #ff6e00;

            .item-icon {
                color: #fff;
            }

            .item-address {
                font-size: 14px;
                color: #fff;
            }

            .item-rate {
                color: #fff;
            }

            &:hover {
                background: #ff6e00;
            }
        }
    }
}